@import "config";

.business-show-container {
  min-width: 1020px;
  position: relative;
  // background: ;
}

.business-show-img {
  width: 100%;
  max-width: 1922px;
  position: relative;
  margin: 0 auto;
  display: flex;
  z-index: -1;
  
  div  {
    width: 25%;
    height: 16.667vw;
    border: 1px solid black
  }
}

.main-show-wrapper {
  min-width: 1020px;
}

.main-show-section-wrapper {
  margin: 0 auto;
  margin-top: 18px !important;
  max-width: 960px;
}

.main-show-section {
  margin: 0 auto;
  display: flex;
  width: 100%;

  .left-section {
    // border: 1px solid gray;
    margin-right: 36px;
    width: 66%;
  }

  .right-section {
    border: 1px solid gray;
    width: 33%;
  }

  .business-info {
    margin-bottom: 18px;
    background-color: gray;

    .business-name {
      margin-bottom: 6px;
      font-size: 30px;
      font-weight: 700;
      padding-top: 6px;
      line-height: 1.2em;
    }

    .business-rating {
      margin-bottom: 6px;
      min-width: 100%;
    }
  }

  .functionalities {
    min-width: 100%;
    display: flex;
    

    .function-btn {
      margin: 0 6px 0 6px;
      border: 1px solid #ccc;
      border-radius: 4px;

      a {
        display: block;
        padding: 6px 8px;
        font-size: 15px;
        font-weight: 700;
        line-height: 1.5em;
        text-decoration: none;
      }
    }
  }

  .about-business {
    margin-top: 24px;
    border-top: 1px solid #ccc;
    padding-top: 24px;
  }

  .reviews {
    margin: 24px 0 46px 0;
    border-top: 1px solid #ccc;
    padding-top: 24px;
  }
}

