@import "config";

.business-index-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  min-height: 450px;
  flex-direction: row;
  justify-content: space-between;
}

.map-container {
  width: 300px;
  height: 330px;
  position: sticky;
  top: 10px;
  color: #0b98e4;
}

.business-info-wrapper {
  display: block;
  width: 65%;
}

.business-container {
  display: flex;
  padding: 18px 0 18px 0;
  border-bottom: 1px solid gray;

  .business-img {
    margin-right: 18px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 210px;
    height: 210px;
    

    img {
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
    }
  }

  .business-info {
    width: 402px;
  }

  .top-section {
    display: flex;
    justify-content: space-between;

    .left-section {
      width: 62.5%;
      display: block;

      .business-name {
        font-weight: 700;
        margin-bottom: 6px;
        font-size: 16px;
        line-height: 1.3125em;
        color: #FFFFFF;

        a {
          font-size: 18px;
          text-decoration: none;
          cursor: pointer;

          &:hover {
            color: #f8b700;
          }
        }
      }

      .business-rating {
        margin-top: 5px;
      }

      .business-category {
        display: flex;
        line-height: 21px;
        margin: 5px 0 0;

        div {
          margin-right: 15px;
          color: rgb(235, 222, 194);
        }
      }
    }

    .right-section {
      width: 45%;
      display: block;
      text-align: right;
      padding: 4px 0 0 12px;
      
      .business-phone {
        color: white;
        margin-bottom: 6px;
      }

      .business-address {
        color: rgb(235, 222, 194);
      }
    }
  }
}

.mid-section {
  margin: 12px 0 12px 0;

  div {
    font-size: 15px;
    line-height: 1.38462em;
    color: #D5DDE6;
  }

  a {
    cursor: pointer;
    color: #0b98e4;
  }
}

.bottom-section {
  margin-top: 6px;
  padding: 6px;
  display: flex;
  border-radius: 4px;
  align-items: center;

  .business-write-review {
    margin: 0 3px 0 3px;

    a {
      display: block;
      text-decoration: none;
      padding: 6px 18px;
      border: 1px solid #8f1a1a;
      border-radius: 4px;
      background-color: #581C10;
      color: #f8b700;

      &:hover {
        background-color: rgb(143, 30, 13);
        color: white;
        @include easeOut();
      }
    }
  }

  .business-reservation {
    margin: 0 3px 0 3px;
    padding: 0 6px;
    display: flex;
    color: rgb(235, 222, 194);

    label {
      margin-right: 10px;
      color: white;
    }
  }

  .business-takeout {
    margin: 0 3px 0 3px;
    padding: 0 6px;
    display: flex;
    color: rgb(235, 222, 194);

    label {
      margin-right: 10px;
      color: white;
    }
  }
}

.index-main-section {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), image-url("map.jpg");
  background-size: cover;
  background-position: center top;
  padding-top: 30px;
  color: #f8b700;
}

.no-results {
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px
}