.under-const-wrapper {
  background: url("under_construction_bg.jpg");
  position: relative;
  width: 100%;
  background-color: rgb(42, 16, 13);
  background-size: cover;
  height: 960px;
  background-repeat: no-repeat;
  background-position: center top;
}

.under-const-message {
  
}