@import "config";

.reviews > h3 {
  margin-bottom: 18px;
}

.review-wrapper {
  margin-bottom: 18px;
  display: flex;
  padding-bottom: 18px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.4);
  min-width: 605px;
  min-height: 130px;
}

.author-info-wrapper {
  margin-right: 6px;
  width: 222px;
  display: flex;

  .profile-pic {
    border: 1px solid gray;
    // border-radius: 4px;
    height: 60px;
    width: 60px;
    margin-right: 10px;

    img {
      object-fit: cover;
      width: 60px;
      height: 60px;
    }
  }

  .username {
    color: #0B86CA;
  }
}

.review-info-wrapper {
  margin-left: 6px;
}

.review-rating {
  margin-top: 6px;
  margin-bottom: 6px;
  color: #f8b700;
}

.edit-delete-wrapper {
  display: flex;
  margin-top: 25px;
}

.edit-review {
  display: block;
  padding: 3px 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  text-decoration: none;
  border: 1px solid #8f1a1a;
  border-radius: 4px;
  background-color: #581C10;
  color: #f8b700;
  cursor: pointer;
  margin-right: 10px;

  &:hover {
    background-color: rgb(143, 30, 13);
    color: white;
    @include easeOut();
  }
}

.delete-review {
  display: block;
  padding: 3px 6px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5em;
  text-decoration: none;
  border: 1px solid #8f1a1a;
  border-radius: 4px;
  background-color: #581C10;
  color: #f8b700;
  cursor: pointer;

  &:hover {
    background-color: rgb(143, 30, 13);
    color: white;
    @include easeOut();
  }
}