@import "config";

.sub-nav-wrapper {
  min-width: 1020px;
  background: linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55) ), url("brown_paper_bg.jpg");


}

.sub-top-bar {
  display: flex;
  padding: 12px 15px;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;

  .headernav {
      display: flex;
      
      border-spacing: 6px 0;

      .btn-signup {
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        min-width: 50px;
        color: white;
        font-weight: 700;
        font-family: BlizQuadrataWeb, serif;
        font-size: 14px;
        border: 1px solid #f8b700;
        border-radius: 4px;
        margin: 3px 3px 0 3px;
        padding: 12px;
        // background: transparent;
        box-shadow: none;
        background-color: #d39b00;

        &:hover {
          color: white;
          @include easeOut();
        }
      }

      .btn-login {
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        min-width: 50px;
        color: rgb(247, 177, 10);
        font-weight: 700;
        font-family: BlizQuadrataWeb, serif;
        font-size: 14px;
        border: 1px solid rgba(247, 177, 10, 1);
        border-radius: 4px;
        margin: 3px 3px 0 3px;
        padding: 12px;

        &:hover {
          background-color: #9c7301;
          color: white;
          @include easeOut();
        }
      }
  }
}

.sub-search-filter {
  display: flex;
  width: 100%;
  height: 44px;

  .search {
    position: relative;
    border-radius: 4px 0 0 4px;
    padding: 8px 12px;
    background: rgba(12, 8, 5, 0.7);
    box-sizing: border-box;
    font-size: 14px;
    width: 50%;
    line-height: 25px;
  }

  .filter {
    position: relative;
    padding: 8px 12px;
    background: rgba(12, 8, 5, 0.7);
    box-sizing: border-box;
    font-size: 14px;
    width: 42%;
    line-height: 25px;
  }

  .input-title {
    margin-right: 12px;
    font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(top,#efd100,#e2a233 19%,#f0c328 30%,#fff1a3 43%,#ffe13e 50%,#fff 51%,#fff);
    background-size: 1em 2.7em;
    color: #f8b700;
    cursor: default;
  }

  .input-body {
    position: absolute;
    font-weight: 400;
    color: #D79D0E;
    font-size: 15px;
  }

  .split-line {
    position: absolute;
    top: 8px;
    right: 0;
    bottom: 8px;
    width: 1px;
    background-color: #ccc;
  }

  .search-btn-wrapper {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 0 4px 4px 0;
    // padding: 14px 20px 13px;
    background-color: #D79D0E;
    width: 8%;
    margin-right: 12px;;

    .search-btn {
      background-color: #D79D0E;
      border: none;
      font-size: 18px;
      color: rgba(12, 8, 5, 0.7);

    }
  }
}

.sub-logo {
  display: flex;
  margin: 0 10px 0 0px;
  width: 180px;

  a {
    width: 100%px
  }

  .header {
    font-size: 22px;
    
    
    .btn-home {
      text-decoration: none;
      cursor: pointer;
      color: rgb(247, 177, 10);
      font-family: BlizQuadrataWeb, serif;
      font-weight: 700;
    }
  }

  img {
    width: 35px;
    height: 35px;
  }
}

.sub-user-display {
  display: flex;
  align-items: center;
}